USE [master]
GO
/****** Object:  Database [BarberShop]    Script Date: 24/06/2019 14:29:32 ******/
CREATE DATABASE [BarberShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BarberApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BarberApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BarberApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BarberApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BarberShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BarberShop]
GO
/****** Object:  UserDefinedFunction [dbo].[getNextAppointmentID]    Script Date: 24/06/2019 14:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[getNextAppointmentID] 
(
	@CustomerID int
)
RETURNS int
AS
BEGIN

	return (select isnull(max(AppointmentID), 0) + 1 from tblAppointments where CustomerID = @CustomerID);

END
GO
/****** Object:  Table [dbo].[tblAppointments]    Script Date: 24/06/2019 14:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAppointments](
	[CustomerID] [int] NOT NULL,
	[AppointmentID] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[StatusDateTime] [datetime] NULL,
	[AppointmentDateTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC,
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCustomers]    Script Date: 24/06/2019 14:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCustomers](
	[CustomerID] [int] NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nchar](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
